#stock-container {
    width: max-content;
    min-width: 300px;
    margin: 20px auto;
}

#stock-container>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

#name {
    font-size: 25px;
}

strong {
    margin-right: 20px;
}

p {
    width: max-content;
}